# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Environment
*.vscode

# Visual Studio
build/*.vcxproj
build/*.vcxproj.*
build/*.sln
build/Debug
build/x64
build/*.dir
build/.vs

# Eclipse
*.cproject
*.project

# CMake
build/CMakeCache.txt
build/cmake_install.cmake
build/CMakeFiles

# Make
build/Makefile

# Doxygen
docs/html
docs/Doxyfile
docs/warnings.log

# Project Targets
build/rpp_test_sched
