# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log

# Environment
*.vscode

# Visual Studio
*.vcxproj
*.vcxproj.*
*.sln
*.dir
*.vs
*.tlog
*.lastbuildstate
*.ilk
*.pdb

# Eclipse
*.cproject
*.project

# CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles
compile_commands.json

# CMake-Generated Source Files
portable_defs.hpp
link.ld

# CTest
CTestCostData.txt
CTestTestfile.cmake

# Make
Makefile

# Doxygen
docs/html
docs/Doxyfile

# Project Targets
rpp_test_sched
rpp_test_systick
pwm_test
pwb_test
